body {
    background-size: cover;
    background-position: center;
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#status, #starting, #detected {
    font-size: 18px;
}

canvas {
    border: 10px 10px 10px grey;
    border-style: solid;
    margin-top: 30px;
}